[screen]
bg_color = [0.,0.,0.,1.]
project = False
screen_number = 0
w_size = 1280
h_size = 960
[front]
left = 426
bottom = 320
width = 312
height = 310
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 0
tilt = 0
dutch = 0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 2.0
[left]
left = 746
bottom = 320
width = 312
height = 310
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = -90
tilt = 0
dutch = 0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 2.0
[top]
left = 426
bottom = 640
width = 312
height = 310
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 0
tilt = 90
dutch = 0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 2.0
[right]
left = 106
bottom = 320
width = 312
height = 310
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 90
tilt = 0
dutch = 0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 2.0
[bottom]
left = 426
bottom = 0
width = 312
height = 310
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 0
tilt = -90
dutch = 0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 2.0
# [indicators]
# left = 746
# bottom = 0
# width = 300
# height = 300
# scale_x = 1.0
# scale_y = 1.0
# scale_z = 1.0
# projection = reference
# ref_pt_size = 5
# ref_coords = 16.0 80.0 0.0 82.0 82.0 0.0 14.0 16.0 0.0 83.0 16.0 0.0
